# Notebook 2 – Data Cleaning and Preparation

This notebook performs basic cleaning and normalization of the raw data that was loaded into
the database by the data loader.

**Rules:**
- Never modify or delete data from the source tables (`companies`, `financials`, `industry_benchmarks`).
- All cleaning steps will be performed through *views*, so the original tables remain intact.
- Each step will build on the previous one.

*Note:*

The dataset was pre-reviewed, but cleaning was still required to standardize formats, handle nulls, and enforce consistency for SQL analysis.

The goal here is *structural quality and analytical readiness*, not domain correction.

## 1. Environment Setup

In [100]:
%load_ext sql
%load_ext dotenv
%dotenv
%config SqlMagic.style = '_DEPRECATED_DEFAULT'

%sql postgresql://$DB_USER:$DB_PASSWORD@$DB_SERVER:$DB_PORT/$DB_NAME
%sql SELECT current_database() AS connected_to, NOW() AS time_check;

The sql extension is already loaded. To reload it, use:
  %reload_ext sql
The dotenv extension is already loaded. To reload it, use:
  %reload_ext dotenv
 * postgresql://postgres:***@localhost:5432/fundamentals
1 rows affected.

[('fundamentals', datetime.datetime(2025, 10, 18, 22, 8, 39, 442372, tzinfo=datetime.timezone(datetime.timedelta(seconds=28800))))]

## 2. Inspect Raw Data
Quick look at the source tables to see what we’re dealing with.

In [101]:
%%sql
SELECT * FROM companies LIMIT 5;

 * postgresql://postgres:***@localhost:5432/fundamentals
5 rows affected.

[(1, 'aC', 'Ayala Corporation', 'Finance', 'Conglomerate'),
 (2, 'BDO', 'BDO Unibank', 'Finance', 'Banking'),
 (3, 'MER', 'Meralco', 'Energy', 'Utilities'),
 (4, 'Tel', 'PLDT Inc.   ', 'Tech', 'Telecommunications'),
 (5, 'ALI', 'Ayala Land', 'Finance', 'Real Estate')]

In [102]:
%%sql
SELECT * FROM financials LIMIT 5;

 * postgresql://postgres:***@localhost:5432/fundamentals
5 rows affected.

[(1, 1, 2021, 1, Decimal('1360000000.0'), Decimal('532735657.108991'), Decimal('827264342.891009'), Decimal('244922750.068192'), Decimal('1758043524.6448'), Decimal('28.9952340054205'), Decimal('2.29624445982934'), 501249478),
 (2, 1, 2021, 2, Decimal('3944000000.0'), Decimal('2368598803.15761'), Decimal('1575401196.84239'), Decimal('227018144.449011'), Decimal('713765809.243214'), Decimal('9.89200598541647'), Decimal('1.06169555339138'), 972918867),
 (3, 1, 2021, 3, Decimal('1684000000.0'), Decimal('761371968.571931'), Decimal('922628031.428069'), Decimal('181189107.908059'), Decimal('1091413451.87584'), Decimal('7.42659117630894'), Decimal('0.697469303260209'), 362106226),
 (4, 1, 2021, 4, Decimal('3247000000.0'), Decimal('1568888452.58731'), Decimal('1678111547.41269'), Decimal('164017496.054259'), Decimal('1393530654.21052'), Decimal('6.33556137050506'), Decimal('2.96207284431021'), 279706404),
 (5, 1, 2022, 1, Decimal('3702000000.0'), Decimal('2702349692.86893'), Decimal('999650307.131071'), Decimal('220076884.646945'), Decimal('1354241957.30549'), Decimal('11.1187255047131'), Decimal('2.8164410892277'), 111938465)]

In [103]:
%%sql
SELECT * FROM industry_benchmarks LIMIT 5;

 * postgresql://postgres:***@localhost:5432/fundamentals
3 rows affected.

[('Finance', Decimal('15.2'), Decimal('0.12')),
 ('Tech', Decimal('18.5'), Decimal('0.16')),
 ('Energy', Decimal('13.8'), Decimal('0.1'))]

## 3. Clean Company Data
We’ll capitalize sector names, remove trailing spaces, and ensure that tickers and sector values
are uppercase. This will go into a view named `clean_companies`.

In [104]:
%%sql
DROP VIEW IF EXISTS clean_companies CASCADE;

CREATE VIEW clean_companies AS
SELECT
    company_id,
    UPPER(TRIM(ticker)) AS ticker,
    TRIM(name) AS name,
    INITCAP(TRIM(industry)) AS industry,
    UPPER(TRIM(sector)) AS sector
FROM companies
WHERE ticker IS NOT NULL
  AND name IS NOT NULL;

SELECT * FROM clean_companies LIMIT 5;

 * postgresql://postgres:***@localhost:5432/fundamentals
Done.
Done.
5 rows affected.

[(1, 'AC', 'Ayala Corporation', 'Finance', 'CONGLOMERATE'),
 (2, 'BDO', 'BDO Unibank', 'Finance', 'BANKING'),
 (3, 'MER', 'Meralco', 'Energy', 'UTILITIES'),
 (4, 'TEL', 'PLDT Inc.', 'Tech', 'TELECOMMUNICATIONS'),
 (5, 'ALI', 'Ayala Land', 'Finance', 'REAL ESTATE')]

## 4. Clean Financials
We’ll fix issues such as:
- Missing or invalid quarters and years
- Null columns

The cleaned data will be stored in a view named `clean_financials`.

In [105]:
%%sql

-- Before cleaning: invalid years and quarters
SELECT
  COUNT(*) AS total_rows,
  SUM(CASE WHEN year < 2021 OR year > EXTRACT(YEAR FROM CURRENT_DATE) THEN 1 ELSE 0 END) AS invalid_years,
  SUM(CASE WHEN quarter NOT BETWEEN 1 AND 4 THEN 1 ELSE 0 END) AS invalid_quarters,
  SUM(CASE WHEN company_id IS NULL THEN 1 ELSE 0 END) AS null_company
FROM financials;

 * postgresql://postgres:***@localhost:5432/fundamentals
1 rows affected.

[(128, 6, 5, 0)]

In [106]:
%%sql
DROP VIEW IF EXISTS clean_financials;

CREATE VIEW clean_financials AS
SELECT
    financial_id,
    company_id,
    year,
    quarter,
    NULLIF(total_assets, 0) AS total_assets,
    NULLIF(total_liabilities, 0) AS total_liabilities,
    NULLIF(total_equity, 0) AS total_equity,
    NULLIF(net_income, 0) AS net_income,
    NULLIF(revenue, 0) AS revenue,
    NULLIF(price_per_share, 0) AS price_per_share,
    NULLIF(dividends_per_share, 0) AS dividends_per_share,
    NULLIF(shares_outstanding, 0) AS shares_outstanding 
FROM financials
WHERE company_id IS NOT NULL
    AND year IS NOT NULL
    AND quarter IS NOT NULL
    AND quarter BETWEEN 1 AND 4
    AND year BETWEEN 2021 AND DATE_PART('year', CURRENT_TIMESTAMP);

SELECT * FROM clean_financials LIMIT 5;

 * postgresql://postgres:***@localhost:5432/fundamentals
Done.
Done.
5 rows affected.

[(1, 1, 2021, 1, Decimal('1360000000.0'), Decimal('532735657.108991'), Decimal('827264342.891009'), Decimal('244922750.068192'), Decimal('1758043524.6448'), Decimal('28.9952340054205'), Decimal('2.29624445982934'), 501249478),
 (2, 1, 2021, 2, Decimal('3944000000.0'), Decimal('2368598803.15761'), Decimal('1575401196.84239'), Decimal('227018144.449011'), Decimal('713765809.243214'), Decimal('9.89200598541647'), Decimal('1.06169555339138'), 972918867),
 (3, 1, 2021, 3, Decimal('1684000000.0'), Decimal('761371968.571931'), Decimal('922628031.428069'), Decimal('181189107.908059'), Decimal('1091413451.87584'), Decimal('7.42659117630894'), Decimal('0.697469303260209'), 362106226),
 (4, 1, 2021, 4, Decimal('3247000000.0'), Decimal('1568888452.58731'), Decimal('1678111547.41269'), Decimal('164017496.054259'), Decimal('1393530654.21052'), Decimal('6.33556137050506'), Decimal('2.96207284431021'), 279706404),
 (5, 1, 2022, 1, Decimal('3702000000.0'), Decimal('2702349692.86893'), Decimal('999650307.131071'), Decimal('220076884.646945'), Decimal('1354241957.30549'), Decimal('11.1187255047131'), Decimal('2.8164410892277'), 111938465)]

In [107]:
%%sql

-- After cleaning: no invalid rows
SELECT
  COUNT(*) AS total_rows,
  SUM(CASE WHEN year < 2021 OR year > EXTRACT(YEAR FROM CURRENT_DATE) THEN 1 ELSE 0 END) AS invalid_years,
  SUM(CASE WHEN quarter NOT BETWEEN 1 AND 4 THEN 1 ELSE 0 END) AS invalid_quarters,
  SUM(CASE WHEN company_id IS NULL THEN 1 ELSE 0 END) AS null_company
FROM clean_financials;

 * postgresql://postgres:***@localhost:5432/fundamentals
1 rows affected.

[(120, 0, 0, 0)]

## 5. Derive Clean Metrics
Using the cleaned data, we’ll compute common financial metrics to prepare for later analysis.

- **Market Cap** = price_per_share * shares_outstanding
- **EPS (Earnings Per Share)** = net_income / shares_outstanding
- **ROE (Return On Equity)** = net_income / total_equity
- **Debt-to-Equity** = total_liabilities / total_equity
- **P/E** = price_per_share / EPS

This will be created as a view named `derived_metrics`.

In [108]:
%%sql
DROP VIEW IF EXISTS derived_metrics;

CREATE VIEW derived_metrics AS
SELECT
    c.company_id,
    c.ticker,
    f.year,
    f.quarter,
    ROUND(f.price_per_share * f.shares_outstanding, 3) AS market_cap,
    ROUND(f.net_income / NULLIF(f.shares_outstanding, 0), 3) AS eps,
    ROUND(f.net_income / NULLIF(f.total_equity, 0), 3) AS roe,
    ROUND(f.total_liabilities / NULLIF(f.total_equity, 0), 3) AS debt_to_equity,
    ROUND(f.price_per_share / NULLIF(f.net_income / NULLIF(f.shares_outstanding, 0), 0), 3) AS pe_ratio,
    ROUND(f.price_per_share, 3) AS price_per_share,
    ROUND(f.dividends_per_share, 3) AS dividends_per_share,
    f.shares_outstanding
FROM clean_financials f
JOIN clean_companies c
    ON c.company_id = f.company_id;

SELECT * FROM derived_metrics LIMIT 5;

 * postgresql://postgres:***@localhost:5432/fundamentals
Done.
Done.
5 rows affected.

[(1, 'AC', 2021, 1, Decimal('14533845909.705'), Decimal('0.489'), Decimal('0.296'), Decimal('0.644'), Decimal('59.341'), Decimal('28.995'), Decimal('2.296'), 501249478),
 (1, 'AC', 2021, 2, Decimal('9624119255.689'), Decimal('0.233'), Decimal('0.144'), Decimal('1.503'), Decimal('42.394'), Decimal('9.892'), Decimal('1.062'), 972918867),
 (1, 'AC', 2021, 3, Decimal('2689214902.898'), Decimal('0.500'), Decimal('0.196'), Decimal('0.825'), Decimal('14.842'), Decimal('7.427'), Decimal('0.697'), 362106226),
 (1, 'AC', 2021, 4, Decimal('1772097088.265'), Decimal('0.586'), Decimal('0.098'), Decimal('0.935'), Decimal('10.804'), Decimal('6.336'), Decimal('2.962'), 279706404),
 (1, 'AC', 2022, 1, Decimal('1244613065.754'), Decimal('1.966'), Decimal('0.220'), Decimal('2.703'), Decimal('5.655'), Decimal('11.119'), Decimal('2.816'), 111938465)]

## 6. Check for Extreme and Missing Data
We can use simple SQL diagnostics here to identify potential anomalies.
For example, unusually high or low P/E ratios, missing ROE values, etc.

In [109]:
%%sql
SELECT
    SUM(CASE WHEN market_cap IS NULL THEN 1 ELSE 0 END) AS missing_market_cap,
    SUM(CASE WHEN eps IS NULL THEN 1 ELSE 0 END) AS missing_eps,
    SUM(CASE WHEN roe IS NULL THEN 1 ELSE 0 END) AS missing_roe,
    SUM(CASE WHEN pe_ratio IS NULL THEN 1 ELSE 0 END) AS missing_pe,
    SUM(CASE WHEN debt_to_equity IS NULL THEN 1 ELSE 0 END) AS missing_de_ratio
FROM derived_metrics;

 * postgresql://postgres:***@localhost:5432/fundamentals
1 rows affected.

[(0, 0, 0, 0, 0)]

In [110]:
%%sql
-- Identify extreme P/E values
SELECT ticker, year, quarter, pe_ratio
FROM derived_metrics
WHERE pe_ratio > 100 OR pe_ratio < 0
ORDER BY pe_ratio DESC;

 * postgresql://postgres:***@localhost:5432/fundamentals
1 rows affected.

[('ALI', 2023, 3, Decimal('129.088'))]

We discover that the P/E ratio of **ALI** in Q3, 2023 was unusually high.  The dataset has been reviewed, and the value is not clearly incorrect, so it’s retained and flagged for completeness.

Because this notebook focuses on analytical completeness, the record was flagged but retained to avoid bias in subsequent computations.


## 7. Create a Final Clean Unified View
We’ll combine everything into a single view that will serve as the input for the analysis notebook.

In [111]:
%%sql
DROP VIEW IF EXISTS clean_dataset;

CREATE VIEW clean_dataset AS
WITH
	a AS (
	    SELECT c.ticker, c.industry, i.avg_pe, i.avg_roe
    FROM clean_companies c 
        JOIN industry_benchmarks i
        ON c.industry = i.industry
	)
SELECT
    dm.*,
    a.avg_pe,
    a.avg_roe
FROM derived_metrics dm
LEFT JOIN a
    ON dm.ticker = a.ticker;

SELECT * FROM clean_dataset LIMIT 5;

 * postgresql://postgres:***@localhost:5432/fundamentals
Done.
Done.
5 rows affected.

[(1, 'AC', 2023, 4, Decimal('6623740777.492'), Decimal('0.159'), Decimal('0.042'), Decimal('0.508'), Decimal('47.442'), Decimal('7.555'), Decimal('1.654'), 876793083, Decimal('15.2'), Decimal('0.12')),
 (1, 'AC', 2023, 3, Decimal('7078611190.036'), Decimal('0.120'), Decimal('0.104'), Decimal('2.186'), Decimal('71.014'), Decimal('8.488'), Decimal('3.645'), 833915286, Decimal('15.2'), Decimal('0.12')),
 (1, 'AC', 2023, 2, Decimal('1358592481.924'), Decimal('0.836'), Decimal('0.455'), Decimal('1.459'), Decimal('4.664'), Decimal('3.900'), Decimal('0.826'), 348399264, Decimal('15.2'), Decimal('0.12')),
 (1, 'AC', 2023, 1, Decimal('1937384524.998'), Decimal('0.252'), Decimal('0.039'), Decimal('0.525'), Decimal('19.570'), Decimal('4.932'), Decimal('1.357'), 392797298, Decimal('15.2'), Decimal('0.12')),
 (1, 'AC', 2022, 4, Decimal('10012652274.766'), Decimal('0.309'), Decimal('0.111'), Decimal('0.646'), Decimal('34.243'), Decimal('10.589'), Decimal('2.989'), 945549047, Decimal('15.2'), Decimal('0.12'))]

## 8. Summary
- Cleaned and standardized company and financial data.
- Derived ratios prepared for analytical queries.
- Created a unified clean dataset (`clean_dataset`).  This view will serve as the foundation for deriving composite scores and stock recommendations in Notebook 3.

**Data Cleaning Philosophy**

This notebook enforces structural integrity while preserving analytical completeness.

- Records with invalid quarters (0, 5) or years outside 2021–2025 (the current year) were dropped for scope consistency.
- Extreme values (e.g., high P/E ratios) were retained but flagged, since the goal is to highlight and handle anomalies, not erase them.

This ensures transparency: the cleaning process improves validity without introducing analytical bias.